# Database Configuration
MONGODB_URI=mongodb://localhost:27017
DB_NAME=jobgen

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
ACCESS_TOKEN_DURATION=24h
REFRESH_TOKEN_DURATION=168h

# Server Configuration
PORT=8080
ENVIRONMENT=development

# Email Configuration (SMTP)
EMAIL_FROM=noreply@jobgen.io
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=yuor-email
EMAIL_PASSWORD=yout-password

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000


STORAGE_ACCESS_KEY=your-username
STORAGE_SECRET_KEY=your-password
FILE_STORAGE_URL=minio-url # do not write http or https
MAX_ALLOWED_FILE_SIZE=3000000  # in bytes, e.g., 3MB
MAX_FILE_URL_LIFE=1000  # in seconds

